@font-face {
    font-family: 'Lato-Black';
    src: url('./Lato/Lato-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('./Lato/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('./Lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Thin';
    src: url('./Lato/Lato-Thin.ttf') format('truetype');
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
  width: 100%;
}
body {
  margin: 0;
  display: flex;
}

.home-body {
    display: flex;
    border: 1px solid red;
    gap: .75rem;
    align-self: center;
    padding: 0 1rem 0 1rem;
}

.categories {
    display: flex;
    flex-grow: 1;
    border: 1px solid brown;
    justify-content: center;
}


.ads {
    display: flex;
    flex-grow: 1;
    border: 1px solid blue;
    justify-content: center;
}
